# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtualenv
venv
.venv

env

# Django
media
staticfiles

# IDE
.idea
.vscode

# Git
.git
.gitignore

# OS
.DS_Store

# Env
.env
.env.*

# Frontend
node_modules

# Dependencies

/node_modules
/.pnp
.pnp.js

# Next.js build output

.next
/out/

# Production build

/build

# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS

.DS_Store

# Editor folders

.vscode/
.idea/

# TypeScript

*.tsbuildinfo
next-env.d.ts

# Coverage

/coverage

# Misc

*.pem
